[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-cors = "*"
python-dotenv = "*"
flask-bcrypt = "*"
flask-jwt-extended = "*"
flask-migrate = "*"
flask-apispec = "*"
mysqlclient = "*"

[dev-packages]
pytest = "*"
factory_boy = "*"
flake8 = "*"
isort = "*"
monkeytype = "*"

[requires]
python_version = "*"
